<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="openPositions">
    <test name="jobs">
        <classes>
            <class name="com.opengov.OpenPositions_Test">
                <methods>
                    <include name="setUp"/>
                    <include name="test_filterOnDepartmentAndLocation"/>
                    <include name="test_filterOnDepartmentOnly"/>
                    <include name="cleanUp"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
